DB_HOST=mongodb+srv://books-user1:mC7UJasaNofDEgxc@cluster0.mf3ta.mongodb.net/db-books?retryWrites=true&w=majority
SECRET_KEY=12345678
PORT=5000

only for compass!!!!!!!!!!!:
books-user2 hYge5zqcoyeCXnFi
books-user3 2ImL7VEU6B8o2Y1c